[user]
	email = steffen@fieger-schortens.de
	name = "Steffen Fieger"
[core]
	autocrlf = true
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	longpaths = true
	editor = vim
[color "decorate"]
	head = cyan
	tag = yellow
	branch = green
	remotebranch = red
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[push]
	default = current
[diff]
	renameLimit = 1000
[alias]
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
	amend = commit --amend
	co = checkout
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	l = log -1 HEAD
	ll = log --pretty=format:'%C(auto)%h %C(brightmagenta)%ad %C(blue)[%an] %C(auto)%d %C(reset)%s' --all --graph --date=format:'%Y-%m-%d %H:%M'
	master = checkout master
	revd = review -d
	rmbs = "!git branch | grep -v 'master' | xargs git branch -D"
	rhl = reset --hard
	rhu = reset --hard @{u}
	st = status
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
