Config { font = "xft:DejaVu Sans:pixelsize=12:antialias=true:hinting:true"
       , bgColor = "black"
       , fgColor = "grey"
       , position = Top
       , lowerOnStart = True
       , commands = [ Run Network "enp9s0" ["-L","0","-H","32","--normal","green","--high","red"] 10
                    , Run Network "wlp11s0" ["-L","0","-H","32","--normal","green","--high","red"] 10
                    , Run Battery ["-t", "<acstatus>: <left>% - <timeleft>", "--", "-O", "AC", "-o", "Bat", "-h", "green", "-l", "red"] 10
                    , Run Cpu ["-L","3","-H","50","--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Volume "default" "Master" [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%battery% | %cpu% | %memory% * %swap% | %enp9s0% - %wlp11s0% | %volume% }{ <fc=#ee9a00>%date%</fc> | %uname%"
       }
